body {
  font-family: 'Eagle Lake', cursive;
  text-align: center;
  background-color: white;  /* Ensures the content inside the iframe has a white background */
}

iframe {
  background-color: white; /* Ensures iframe has a solid white background */
  border: none;           /* Optional: Removes border */
}

#poll-form input[type="text"] {
  padding: 8px;
  margin-right: 5px;
  width: 80%;  /* Adjust to use a percentage of the parent container */
  max-width: 250px;  /* Optional max-width to prevent it from getting too large on big screens */
  font-family: 'Eagle Lake', cursive;
}

#poll-form button {
  padding: 10px;
  background-color: #c79944;
  color: white;
  border: none;
  cursor: pointer;
  font-family: 'Eagle Lake', cursive;
}

#poll-form button:hover {
  opacity: 0.8; /* Slight transparency on hover for visual feedback */
}

#polls {
  list-style-type: none;  /* Removes bullet points */
  padding: 0;            /* Removes default padding */
  margin: 0;             /* Removes default vertical margin */
  width: 100%;           /* Ensures the ul takes full width of its container */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Adjusts alignment as needed */
}

#polls li {
  display: flex;
  justify-content: flex-start;
  align-items: center; /* Center-align items vertically */
  width: 80%; /* Adjust the width as needed */
  margin: 10px 0px;
  list-style-type: none;
  background-color: #d9b97f00;
  padding: 5px;
  border: 0px solid #ddd;
}

.poll-text {
  flex-grow: 1;
  text-align: left; /* Align text to the left */
  margin-left: 10px; /* Space between text and buttons */
}

.poll-text, .vote, .remove {
  font-size: clamp(12px, 3vw, 30px);  /* Ensures the font size is never below 12px or above 30px */
}


.vote, .remove {
  cursor: pointer;
  padding: clamp(5px, 2vw, 10px); /* Responsive padding that adjusts with the viewport width */
  color: white;
  text-align: center; /* Ensure text is centered */
  line-height: clamp(10px, 8vw, 30px); /* Responsive line height */
  width: clamp(10px, 8vw, 30px); /* Responsive width */
  height: clamp(10px, 8vw, 30px); /* Responsive height, keep square aspect ratio */
  border-radius: 50%; /* This will make the button round */
  display: inline-block; /* Ensure the span behaves like a block for width/height */
  margin: 5px; /* Space between buttons */
  background-color: #b1e0bc; /* Background color */
  font-size: clamp(12px, 5vw, 18px); /* Responsive font size for the icons or text in the buttons */
}


.remove {
  background-color: #ffe7ea; /* Red background */
}


.remove:hover {
  opacity: 0.8; /* Slight transparency on hover for visual feedback */
}


.voted {
  background-color: #6c757d;
  cursor: not-allowed;
}

.vote:hover, .remove:hover {
  opacity: 0.8;
}

.button-container {
  display: flex; /* Align vote and remove button horizontally */
  justify-content: center; /* Center the buttons horizontally in the container */
}

