body {
  font-family: 'Eagle Lake', cursive;
  text-align: center;
}

#poll-form input[type="text"] {
  padding: 8px;
  margin-right: 5px;
  width: 250px;
  font-family: 'Eagle Lake', cursive;
}

#poll-form button {
  padding: 10px;
  background-color: #c79944;
  color: white;
  border: none;
  cursor: pointer;
  font-family: 'Eagle Lake', cursive;
}

#poll-form button:hover {
  opacity: 0.8; /* Slight transparency on hover for visual feedback */
}

#polls {
  display: flex;
  flex-direction: column;
  align-items: center; /* Ensure the list is centered */
  width: 100%;
}

#polls li {
  display: flex;
  justify-content: space-between; /* Align items from left to right */
  align-items: center; /* Center-align items vertically */
  width: 66%; /* Adjust the width as needed */
  margin: 10px auto;
  list-style-type: none;
  background-color: #d9b97f00;
  padding: 5px;
  border: 0px solid #ddd;
}

.poll-text {
  font-size: 30px; /* Adjust the font size as needed */
  flex-grow: 1;
  text-align: left; /* Align text to the left */
  margin-left: 10px; /* Space between text and buttons */
}


.vote, .remove {
  font-size: 30px; /* Adjust the font size as needed */
  cursor: pointer;
  padding: 10px; /* Adjust padding to better fit the circular shape */
  color: white;
  text-align: center; /* Ensure text is centered */
  line-height: 40px; /* Adjust line height to vertically center the text */
  width: 40px; /* Set the width of the button */
  height: 40px; /* Set the height of the button to the same as the width */
  border-radius: 50%; /* This will make the button round */
  display: inline-block; /* Ensure the span behaves like a block for width/height */
  margin: 5px; /* Space between buttons */
  background-color: #b1e0bc;
}

.remove {
  background-color: #ffe7ea; /* Red background */
}


.remove:hover {
  opacity: 0.8; /* Slight transparency on hover for visual feedback */
}


.voted {
  background-color: #6c757d;
  cursor: not-allowed;
}

.vote:hover, .remove:hover {
  opacity: 0.8;
}

.button-container {
  display: flex; /* Align vote and remove button horizontally */
  justify-content: center; /* Center the buttons horizontally in the container */
}
